         .dropdown{
                              margin-top: 8px;

                        }
                        #b1{
         margin-left: 47px;
         font-size: 16px;
   
                        }
                              #b2{
                margin-left: 26px;
                font-size: 16px;
   

   
                        }
                              #b3{
                      margin-left: 37px;
                      font-size: 16px;
   
   
                        }
                              #b4{
                margin-left: 34px;
                font-size: 16px;

   
                        }
                            #b5{
                  margin-left: 25px;
                     font-size: 16px
   
                        }
                        #href1{
                          width: 100%;
                         height: 37px;
                        font-size: 16px;
                        margin-bottom: 16px;
                         padding: 6px 20px;
    
                        
                        
                        }
                        .fabtn{
                            padding-left: 5px;
                        }
                        .href{
                            margin-top: 7px;
                        }
              #maps{
                padding: 8px;
              }